button.add {
  position: fixed;
  bottom: 4%;
  right: 4%;
}

app-row-with-actions {
  padding: 1em 2em;

  .task-body {
    display: flex;
    flex-direction: column;

    .task-title {
      margin-bottom: 0;
    }

    .task-description {
      font-weight: normal;
    }
  }
}